/* For chat overveiw/list */
.chat_div_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat_div {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
    border-radius: 5px;
    padding: 15px 15px;

    width: 70%;
    display: flex;
    flex-direction: row;
}

.chat_message_name {
    font-size: 1.5em;
    font-weight: bold;
    align-self: flex-start;
}

.chat_open_button {
    align-self: flex-end;
    margin-left: auto;
}


/* For specific chats */
#chat_main_container {
    padding: 15px 0px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 5% 10% auto 10% 5%;
    grid-template-rows: 5% auto 10%;
}

#back_button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#enter_message_div {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#username_div {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    font-size: 1.3em;
    font-weight: bold;

    padding-left: 20px;
}

#messages_div {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.message_container_div {
    margin: 0 20px 20px 20px;

    display: flex;
    flex-direction: column;
}

.right_message, .left_message {
    font-weight: 600;
    width: 100%;
    background-color: transparent;
}

.right_message {
    text-align: right;
}

.left_message {
    text-align: left;
}

.datetime {
    font-weight: normal;
    font-size: 0.8em;
    color: lightgrey;
}

#enter_message_input_div {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

#chat-message-input {
    flex: 1;
    margin-right: 10px;
}

#chat-message-submit{
    display: inline-block;
    flex: 0 0 30px
}