{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Edit Project{% endblock %}


{% block content %}
  <h2 class="mt-3">Edit Project</h2>
  <form method="post">
    {% csrf_token %}
    <!--{#% bootstrap_form form %#}-->
    <div id="project_container">
        <p>
            <label class="new-task-input">Title:
                <input
                  type="text"
                  name="title"
                  required
                  maxlength="200"
                  class="form-control"
                  value="{{ project.title }}"
                >
            </label>
        </p>
        <p>
            <label class="new-task-input">Description:
                <input
                  type="text"
                  name="description"
                  required
                  maxlength="200"
                  class="form-control"
                  value="{{ project.description }}"
                >
            </label>
        </p>
        <label for="project_type_select">Project type</label>
        <select class="form-control" id="project_type_select" name="category_id">
            <option value="{{ project.category.id }}" selected>{{ project.category }}</option>
            <option value="1">Cleaning</option>
            <option value="2">Painting</option>
            <option value="3">Gardening</option>
        </select>
        <br>
    </div>
      <div id="task_container">
          {% for task in tasks %}
          <div class="task">
            <h2>Task</h2>
            <p>
              <label class="new-task-input">Title:
                <input
                  type="text"
                  name="task_title"
                  required
                  maxlength="200"
                  class="form-control"
                  value="{{ task.title }}"
                >
              </label>
            </p>
            <p>
              <label class="new-task-input">Budget:
                <input
                  type="number"
                  min = "0"
                  id="budget_input"
                  name="task_budget"
                  required
                  maxlength="200"
                  class="form-control"
                  value="{{ task.budget }}"
                ></textarea>
              </label>
            </p>
            <p>
              <label class="new-task-input">Description:
                <input
                  type="text"
                  name="task_description"
                  required
                  maxlength="500"
                  class="form-control"
                  value="{{ task.description }}"
                >
              </label>
            </p>
          </div>
          {% endfor %}
        </div>

    <div class="row">
      <div class="col-sm">
        <button id="add_task" class="btn btn-outline-secondary mb-3" type="button">Add Task</button>
        <br>
        <button id="remove_task" class="btn btn-outline-danger" type="button">Remove Task</button>
      </div>
      <div class="col-sm">
        <br>
        <button type="submit" class="btn btn-primary float-right">Save Changes to Project</button>
      </div>

    </div>
  </form>
  {% load static %}
  <script src="{% static 'js/new_project.js' %}"></script>
{% endblock %}
