{% extends 'base.html' %}

{% load icons %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Chats</h2>
  <div class="chat_div_container">
    {% for chat in chats %}
    <div class="chat_div" style="margin-bottom: 15px;">
      <span class="chat_message_name" > 
        {% if chat.profile_1.id == user.id %}
            {{ chat.profile_2 }}
        {% else %}
            {{ chat.profile_1 }}
        {% endif %}
      </span>
      <div class="chat_open_button">
        <form action="{% url 'room' chat_id=chat.id %}" method="GET">
          <button class="btn btn-primary"> Open chat </button>
        </form>
      </div>
    </div>
  {% endfor %}
  </div>


{% endblock %}
