{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}
{% load static %}

{% block title %} CHAT {% endblock %}

{% block content %}

    <div id='chat_main_container'>
        <div id="back_button">
            <a href="{% url 'chat' %}" class="previous">&laquo; back</a>
        </div>
    
        <div id="username_div">
            {% if chat.profile_1.id == user.id %}
                {{ chat.profile_2 }}
            {% else %}
                {{ chat.profile_1 }}
            {% endif %}
        </div>
    
        <div id="messages_div">
            {% for chat_message in chat_messages %}
                <div class="message_container_div">
                    {% if chat_message.profile.id == user.id %}
                        <div class="right_message">
                            {{ chat_message.message }}
                        </div>
                        <div class="right_message datetime">
                            {{ chat_message.datetime|date:"H:i:s j.n.Y"}}
                        </div>
                    {% else %}
                        <div class="left_message">
                            {{ chat_message.message }}
                        </div> 
                        <div class="left_message datetime" >
                            {{ chat_message.datetime|date:"H:i:s j.n.Y"}}
                        </div>   
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <div id="enter_message_div">
            <h6>Send a message</h6>
            
            <div id="enter_message_input_div">
                <input id="chat-message-input" type="text" size="100"/>
                <button id="chat-message-submit" class="btn btn-primary" type="button" value="Send">Send</button>
            </div>
            
        </div>
    </div>

    <script> 
        var chat_id = "{{ chat_id }}"; 
        var user_id = "{{ user.id }}";
    </script>

    <script type="text/JavaScript" src="{%  static 'js/chat.js' %}"></script>
{% endblock %}

